h2 {
    font-size: 40px;
    color: white;
    text-align: center;
}
p {
    color: white;
    background-color: rgba(117, 117, 117, 0.555);
    text-align: center;
    margin-right: 300px auto;
    margin-left: 300px auto;
}

.Aboutitem  {
    display: grid;
    color: white;
    margin: auto;
    width: 50%;
}