h1 {
    font-size: 80px;
    color: white;
}

p {
    font-size: 14px;
    color: white;
    line-height: 12px;
}

button {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    background: white;
    width: 160px;
    padding: 8px 0;
    margin-top: 28px;
    border-radius: 16px;
    border: 0;
    outline: none;
}

button:hover {
    background-color: mediumaquamarine;
    color: black;
    border-radius: 20px;
    padding: 8px;
}

.row {
    align-items: center;
    height: 75%;
    display: flex;
}

.l_col, .r_col{
    flex-basis: 85%;
}

.reminder {
    color: white;
    padding: 12px;
    box-sizing: border-box;
    background:rgba(102, 205, 170, 0.8);
    border-radius: 16px;
    width: 355px;
    position: fixed;
    margin-left: 158vh;
}

.close_reminder {
    color: white;
    font-weight: bold;
    margin-left: 12px;
    float: right;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.4s;
}

.close_reminder:hover {
    color: black;
}
