* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    overflow: hidden;
    padding: 12px 8%;
}

.brand_img {
    width: 50px;
}

/*NAVIGATION BAR*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

nav ul li {
    margin: 8px 12px;
    list-style: none;
    display: inline-block;
}

nav ul li a {
    color: black;
    font-weight: 200;
    text-decoration: none;
    font-size: 18px;
}

.button {
    color: black;
    padding: 12px 44px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 25px;
    border-top-right-radius: 0;
    background-color: #8a9a5b;
    transition: 0.2s;
}

.button:hover {
    background-color: grey;
}

/*HOMEPAGE*/

.content {
    max-width: 650px;
    margin-top: 12%;
}

.content h1 {
    color: black;
    font-size: 60px;
}

.content p {
    color: black;
    margin: 12px 0 20px;
    font-size: 16px;
}

.triangle {
    position: absolute;
    width: 35%;
    bottom: 18%;
    right: 15%;
}

/*ABOUT US PAGE*/

.about_us h1 {
    margin-top: 4%;
    color: black;
    font-size: 60px;
    margin-bottom: 10px;
}

.row {
    margin: 0 -5px;
}

.row::after {
    display: flex;
    clear: both;
    content: "";
}

.card {
    transition: 0.4s;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
    width: 25%;
    float: left;
}

.card:hover {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2);
}

.person {
    text-align: center;
    margin: 10px;
}

.card img {
    margin-left: 25%;
}

/*QUIZ PAGE*/

.form {
    color: black;
    margin: 20px auto;
    background-color: #8a9a5b;
    width: 55%;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    margin-top: 150px;
}

.form li {
    list-style: none;
    text-decoration: none;
    margin: 0 auto;
    cursor: pointer;
}

.form li:hover {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px;
    width: 155px;
    transition: 0.4s ease;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.last h1 {
    font-size: 48px;
}

.form h3 {
    margin: 8px;
}

.Q1 {
    display: block;
}

.Q2, .Q3, .Q4, .Q5, .Q6, .Q7, .Q8, .Q9, .last {
    display: none;
}

.last {
    background-color: #8a9a5b;
    width: 60%;
    text-align: center;
    color: black;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2);
    border-radius: 55px;
}

.last h1 {
    margin-bottom: 6px;
}

.quiz_button {
    color: black;
    padding: 12px 44px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 25px;
    border-top-right-radius: 0;
    background-color: white;
    transition: 0.2s;
    margin-top: 22px;
}

.quiz_button:hover {
    background-color: grey;
}

.tips {
    margin-top: 22px;
    width: 90%;
}

/*RESULT PAGE*/

:root{
    --size: 300px;
    --end_size: 600px;
}

.result_text{
    color: black;
    position: fixed; top: 50%; left: 25%;
    margin: auto;
    text-align: center;
    width: 50%;
    border: 5px dotted black;
}

.result_img_average{
    position: fixed; left: 40%;
    width: 300px;
    height: 300px;
}

.result_img_user{
    background-color: yellow;
    position: fixed; left: 40%; top: 36%;
    width: 300px;
    height: 300px;
}

.animate{
    background-color: yellow;
    position: fixed; left: 40%; top: 36%;
    width: 300px;
    height: 300px;
    animation-name: resize;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes resize{
    from {
        width: var(--size);
        height: var(--size);
    }
    to {
        width: var(--end_size);
        height: var(--end_size);
        position: fixed; left: 35%; top: 24%;
    }
}
