* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    overflow: hidden;
    padding: 12px 8%;
}

img {
    width: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

nav ul li {
    margin: 8px 12px;
    list-style: none;
    display: inline-block;
}

nav ul li a {
    color: black;
    font-weight: 200;
    text-decoration: none;
    font-size: 18px;
}

.button {
    color: black;
    padding: 12px 44px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 25px;
    border-top-right-radius: 0;
    background-color: #8a9a5b;
    transition: 0.2s;
}

.button:hover {
    background-color: grey;
}

/*HOMEPAGE*/

.content {
    max-width: 650px;
    margin-top: 12%;
}

.content h1 {
    color: black;
    font-size: 60px;
}

.content p {
    color: black;
    margin: 12px 0 20px;
    font-size: 16px;
}

/*ABOUT US*/

.about_us h1 {
    margin-top: 4%;
    color: black;
    font-size: 60px;
    margin-bottom: 10px;
}

.row {
    margin: 0 -5px;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.card {
    transition: 0.4s;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
    width: 25%;
    float: left;
    padding: 0 8px;
}

.card:hover {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2);
}

.person {
    padding: 2px 18px;
    text-align: center;
    margin: 8px;
}

.card img {
    margin-left: 25%;
}

.text {
    color: white;
    background-color: rgba(117, 117, 117, 0.555);
    text-align: center;
    margin-right: 300px auto;
    margin-left: 300px auto;
}

.Aboutitem  {
    display: grid;
    color: white;
    margin: auto;
    width: 50%;
}